CAMERA_IP=192.168.0.105
CAMERA_PORT=81
CAMERA_USER=admin
CAMERA_PWD=CHANGE_ME
RTSP_PORT=10554
RTSP_PATH=/tcp/av0_0
CAMERA_LAT=18.79273619036605
CAMERA_LON=98.98380734578086
HFOV_DEG=56.14
MODEL_BACKEND=pt
MODEL_PATH_PT=models/fire.pt
MODEL_PATH_OPENVINO=models/fire_openvino_model
INFERENCE_DEVICE=cpu
IMGSZ=640
FIRE_THRESHOLD=0.50
SMOKE_THRESHOLD=0.60
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
